{% comment %} {% autoescape off %}
Hi {{ user.username }},
Please click on the link to confirm your registration,
{{ domain }}{{uid}}{{token}}
{% endautoescape %}  {% endcomment %}

 <!doctype html>
{%load static%}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/1.css'%}">

    <title>{%block title%}{%endblock%}</title>
  </head>
  <body>
    Hi {{ user.username }},
    Please click on the link to confirm your registration,
   <a href="{{ domain }}activate/{{uid}}/{{token}}" class='btn btn-primary'>Verify Your Email</a>

  </body>
  <html> 

