{%extends 'BlogApp/base.html'%}
{%block homeactive%}active{%endblock%}
{%block title%}
Home
{%endblock%}
{%block parent%}
{%for message in messages%}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Message:</strong> {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%endfor%}
<!--here my means margin from top and 3 means from top to 3-->
<div class="container my-3">
<div class="jumbotron">
  <h1 class="display-4">Welcome To MyBlogApp</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
</div>
    </div>

<div class="container my-3">
    <h3>Latest Post</h3>
<div class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>
    <p class="blog-post-meta">{{post.timestamp}} </p> by <a href="#">{{post.author}}</a>
    <p>{{post.content|truncatechars:500}}</p>
</div>
     <div class="my-2">
          <a href="/blogpost/{{post.slug}}" role='button' class="btn btn-primary">Continue reading</a>
                </div>
        </div>
          <div class="col-auto d-none d-lg-block">
    </div>
{%endblock%}